/* right margin */
.sd-octicon {
    margin-right: 0.5em;
}
hr.custom-line {
    border: 0;
    height: 5px; /* Adjust thickness */
    background-color: #000; /* Adjust color */
    margin: 20px 0;
}

hr.custom-line-light {
    border: 0;
    height: 1px; /* Adjust thickness */
    background-color: #000; /* Adjust color */
    margin: 20px 0;
}

